PRODUCT_BUNDLE_IDENTIFIER = com.nhi.NanoHumanInterfaces
PRODUCT_NAME = NanoHumanInterfaces
MARKETING_VERSION = 1.0
CURRENT_PROJECT_VERSION = 1

DEVELOPMENT_TEAM = N9GZG3C5TY

// visionOS
SDKROOT = xros
SUPPORTED_PLATFORMS = xros xrsimulator
TARGETED_DEVICE_FAMILY = 7
XROS_DEPLOYMENT_TARGET = 1.0
SWIFT_VERSION = 5.0

INFOPLIST_FILE = AtomAnimationNative/Info.plist
GENERATE_INFOPLIST_FILE = NO
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks
SWIFT_EMIT_LOC_STRINGS = YES
